* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'jf-openhuninn';
    src: url('../font/jf-openhuninn-2.1.ttf') format('truetype');
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: 'jf-openhuninn', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;  
    background-color: rgba(185, 212, 170, 1);
}

header {
    background-color: rgb(90, 130, 126,0.8);
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    align-items: center;
}

h1 {
    margin-left: 20px;
}
header div {
    display: flex;
    position: absolute;
    right: 10px;
}

header h3 a:hover{
    text-decoration:underline;
}

.first {
    padding: 0px 10px;
}
.second {
    padding: 0px 10px;
    border-left: 1px solid black;
}

footer {
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

footer div{
    width: 33%;
}

footer div div {
    margin-top: 5px;
    margin-left: 40px;
}

footer img {
    width: 30px;
}

footer h2 {
    margin-top: 20px;
    margin-left: 40px;
}

footer p {
    margin-top: 5px;
    margin-left: 40px;
    font-size: 20px;
}


.gangan {
    border-left: 3px solid rgb(130, 130, 130);
}

hr {
    height: 2px;
    border: none;
    background-color: black;
}

/* section部分 */
/* 首頁部分 */
section img{    
    height: 350px;
    border-radius: 100%;
}

section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#front {
    display: flex;
    margin: 150px 0px;
}

#front_text{
    margin-left: 20px;
}

h4 {
    font-size: 60px;
    justify-content: center;
    align-items: center;    
}

.front_p {
    font-size: 20px;
    width: 400px;
    margin-top: 20px;
    line-height: 1.5em;
}

button  {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
    background-color: 
    rgb(250, 255, 202);
    font-family: 'jf-openhuninn', sans-serif;
}

button:hover {
    background-color: rgb(132, 174, 146);
    cursor: pointer;
}

/* button的位置 */
section .button {     
    margin-top: 15px;
}

/* 履歷部分 */

.resume {
    width: 100%;
    margin-top: 100px;
    
}

.resume h2 {
    margin-top: 30px;
    font-size: 40px;
    padding-left: 20%;
}

.resume div {
    position:relative;
    left: 65%;
    top: -40px;
    width: 30%;
}

.resume h3 {
    font-size: 25px;
}

.resume p {
    margin: 10px 0px;
}

.resume hr {
    width: 90%;
    margin-left: 5%;
}

#autobiography {
    font-size: 20px;
<<<<<<< HEAD
    width: 60%;
=======
    width: 850px;
>>>>>>> d849283 (簡歷完成+一些切頁)
    position:relative;
    left: 20%;
    line-height: 1.8em;
}