* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'jf-openhuninn';
    src: url('../font/jf-openhuninn-2.1.ttf') format('truetype');
}

/* 頁面特效 */
#main-content {
  transition: opacity 0.6s ease;
  min-height: 300px;
  caret-color: transparent;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

header a.active {
    color: rgb(130, 130, 130);
    pointer-events: none;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: 'jf-openhuninn', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;  
    background-color: rgb(242, 244, 247);
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    align-items: center;
    z-index: 1000;
}

header h1 {
    margin-left: 20px;
}
header div {
    display: flex;
    position: absolute;
    right: 10px;
}

.first {
    padding: 0px 10px;
}
.second {
    padding: 0px 10px;
    border-left: 1px solid black;
}

footer {
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

footer div{
    width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

footer div div {
    margin-top: 5px;
    margin-left: 40px;
}

footer img {
    width: 30px;
}

footer h2 {
    margin-top: 20px;
    margin-left: 40px;
}

footer p {
    margin-top: 5px;
    margin-left: 40px;
    font-size: 20px;
}


.gangan {
    border-left: 3px solid rgb(130, 130, 130);
}

hr {
    height: 2px;
    border: none;
    background-color: rgb(130, 130, 130);
}

/* section部分 */
/* 首頁部分 */
section img{    
    height: 350px;
    border-radius: 100%;
}

section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#front {
    display: flex;
    margin: 150px 0px;
}

#front_text{
    margin-left: 20px;
}

h4 {
    font-size: 60px;
    justify-content: center;
    align-items: center;    
}

.front_p {
    font-size: 20px;
    width: 400px;
    margin-top: 20px;
    line-height: 1.5em;
}

button  {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
    background-color: rgb(212, 212, 212);
    font-family: 'jf-openhuninn', sans-serif;
}

button:hover {
    background-color: rgb(130, 130, 130);
    cursor: pointer;
}

/* button的位置 */
section .button {     
    margin-top: 15px;
}

/* 履歷部分 */

.resume {
    width: 100%;
    margin-top: 100px;
}

.resume h1 {
    font-size: 50px;
    padding-left: 20%;
}

.resume h2 {
    margin-top: 30px;
    font-size: 38px;
    padding-left: 20%;
    
}

.resume div {
    position:relative;
    left: 65%;
    top: -40px;
    width: 30%;
}

.resume h3 {
    font-size: 22px;
}

.resume p {
    margin: 10px 0px;
    
}

.resume hr {
    width: 90%;
    margin-left: 5%;
}

#autobiography {
    font-size: 20px;
    width: 60%;
    position:relative;
    left: 20%;
    line-height: 1.8em;
}

/* 專案部分 */
.projects {
    width: 100%;
    margin-top: 100px;
}

.projects h1 {
    font-size: 50px;
    padding-left: 10%;
}

.projects h2 {
    margin-top: 30px;
    font-size: 38px;
    padding-left: 10%;
}

.projects div {
    width: 100%;
    font-size: 22px;
    display: flex;
}

.projects p {
    padding-left: 10%;
    line-height: 1.8em;
}

.projects video {
    width: 30%;
    float: right;
    margin-right: 10%;
    margin-left: 20px;
}


.projects p {
    margin: 10px 0px;
}

.projects hr {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}